<div class="{{inlineClass}}">
    <img src="{{photo}}" alt="userPhoto">
    <div class="{{inlineContentClass}}">
        <h4>{{{name}}}</h4>
        <span>{{{time}}}</span>
        <p>{{{text}}}</p>
    </div>
</div>
