<form class="{{form}}">
    {{{image}}}
    <p>Иван</p>
    {{{emailInput}}}
    {{{loginInput}}}
    {{{nameInput}}}
    {{{surnameInput}}}
    {{{chatNameInput}}}
    {{{telephoneInput}}}
    {{{bottom}}}
</form>