<main>
    {{{backButton}}}
    <div class={{containerClass}}>
        <form class="{{formClass}}" id="{{id}}" action="#" method="post">
            {{{image}}}
            <p>Иван</p>
            {{#each inputs}}
                {{{this}}}
            {{/each}}
            {{{bottom}}}
        </form>
    </div>
</main>
