<form class="{{form}}">
    <h1>Регистрация</h1>
    {{{emailInput}}}
    {{{loginInput}}}
    {{{nameInput}}}
    {{{surNameInput}}}
    {{{phoneInput}}}
    {{{passwordInput}}}
    {{{resetPasswordInput}}}
    {{{bottom}}}
</form>