<div class="{{divClassName}}">
    <label>
        {{name}}
        <input
                class="{{inputClassName}}"
                type="{{type}}"
                name="{{name}}"
                placeholder="{{placeholder}}"
                pattern="{{regex}}"
                required="{{required}}">
    </label>
</div>
