{{{backButton}}}
<div class={{containerClass}}>
    <form class="{{formClass}}">
        {{{image}}}
        {{#each inputs}}
            {{{this}}}
        {{/each}}
        {{{bottom}}}
    </form>
</div>